<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>网上机票销售系统</title>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
</head>

<body>
    <div class="page-wrapper">
        <div th:replace="index.html::header"></div>

        <div th:replace="index.html::aside"></div>

        <div class="page-wrapper">
            <div class="main-content">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-title-wrapper">
                            <div class="page-title-box ad-title-box-use">
                                <h2 style="text-align: center">我的信息</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="from-wrapper">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card table-card">
                                <div class="card-header pb-0"
                                     style="display: flex; flex-direction: column; align-items: center">
                                </div>

                                <div class="card-body">
                                    <div class="chart-holder">
                                        <div class="table-responsive">
                                            <table class="table table-styled mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>id</th>
                                                        <th>用户名</th>
                                                        <th>姓名</th>
                                                        <th>身份证号码</th>
                                                        <th>电话</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr>
                                                        <td th:text="${user.getId()}"></td>
                                                        <td th:text="${user.getUsername()}"></td>
                                                        <td th:text="${user.getName()}"></td>
                                                        <td th:text="${user.getIdCard()}"></td>
                                                        <td th:text="${user.getTelephone()}"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <form class="separate-form" th:action="@{/user/update-user}" method="post">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="row"
                                                 style="display: flex; flex-direction: column; align-items: center">
                                                <input class="form-control" type="hidden" name="id"
                                                       th:value="${user.getId()}">

                                                <div>
                                                    <div class="form-group" style="display: inline-block">
                                                        <span style="color: #c0c0c0">用户名</span>
                                                        <input class="form-control" style="width: 400px" type="text"
                                                               name="username" th:placeholder="${user.getUsername()}"
                                                               disabled="disabled">
                                                    </div>

                                                    <div class="form-group" style="display: inline-block">
                                                        <span>姓名</span>
                                                        <input class="form-control" style="width: 400px" type="text"
                                                               name="name" th:value="${user.getName()}">
                                                    </div>
                                                </div>

                                                <div>
                                                    <div class="form-group" style="display: inline-block">
                                                        <span>身份证号码</span>
                                                        <input class="form-control" style="width: 400px" type="text"
                                                               name="idCard" th:value="${user.getIdCard()}">
                                                    </div>

                                                    <div class="form-group" style="display: inline-block">
                                                        <span>电话</span>
                                                        <input class="form-control" style="width: 400px" type="text"
                                                               name="telephone" th:value="${user.getTelephone()}">
                                                    </div>
                                                </div>

                                                <div>
                                                    <button class="ad-btn">提交</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/static/js/bootstrap.min.js}"></script>
    <script th:src="@{/static/js/jquery.min.js}"></script>
    <script th:src="@{/static/js/custom.js}"></script>
</body>

</html>